<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILRepack" version="2.0.13" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net461" />
  <package id="Oxide.Core" version="2.0.3773" targetFramework="net461" />
  <package id="Oxide.CSharp" version="2.0.3776" targetFramework="net461" />
  <package id="Oxide.MySql" version="2.0.3752" targetFramework="net461" />
  <package id="Oxide.References" version="2.0.3751" targetFramework="net461" />
  <package id="Oxide.Rust" version="2.0.3807" targetFramework="net461" />
  <package id="Oxide.SQLite" version="2.0.3752" targetFramework="net461" />
  <package id="Oxide.Unity" version="2.0.3751" targetFramework="net461" />
  <package id="WebSocketSharpFork" version="1.0.4.0" targetFramework="net461" />
</packages>